<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/icon/cyber-security.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Manrope&family=PT+Sans&display=swap"
      rel="stylesheet"
    />
    <title>Cipher-U</title>
  </head>
  <body
    style="
      background-color: rgba(0, 0, 0, 0.925);
      color: white;
      font-family: 'Inconsolata', monospace;
      font-family: 'Manrope', sans-serif;
      font-family: 'PT Sans', sans-serif;
    "
  >
    <h1 style="display: flex; justify-content: center; padding-bottom: 3rem">
      Cipher-Upload
    </h1>
    <% if (locals.error) { %>
    <div
      style="
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        color: rgb(255, 137, 137);
      "
    >
      Incorrect Password !
    </div>
    <% } %>
    <form
      method="post"
      style="
        display: grid;
        gap: 0.6rem;
        grid-template-columns: auto;
        max-width: 600px;
        margin: 0 auto;
      "
    >
      <label for="password" style="font-weight: bold">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        style="height: 1.5rem"
        required
      />
      <button type="submit" style="font-weight: bold">Download Now</button>
    </form>

    <p
      style="
        display: flex;
        justify-content: center;
        padding-top: 27rem;
        font-size: 0.7rem;
      "
    >
      © Copyright Umar Cipher-U 2022
    </p>
  </body>
</html>
